#file: /opt/csitea/url-sniper/url-sniper.0.0.7.dev.ysg/src/bash/url-sniper/url-sniper.cnf 
[MainSection]

#use simple var_name=var_value syntax 

#the name of this application 
wrap_name=url-sniper

#the name of this application's db
db_name=dev_url-sniper


#eof file: /opt/csitea/url-sniper/url-sniper.0.0.7.dev.ysg/src/bash/url-sniper/url-sniper.cnf
